:root {
    --bg: #f5f5f5;
    --text: #42474e;
    --textgrey: #a5a5a5;
    --highlight: #eb5252;
}

* {
    box-sizing: border-box;
    color: #42474e;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: .5px;
    line-height: 1.6;
    font-size: 1.1rem;
}

body {
    background: #ffffff;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    width: 55vw;
    margin: auto;
}

.title {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: .5px;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 25px;
}

a {
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
}

a:hover {
    color: #eb5252;
}

.inline {
    font-size: 1em;
    color: #eb5252;
}

.hero {
    background: url(./media/me.png) no-repeat, #ffffff;
    background-position: center;
    background-size: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    min-height: 60vh;
    border-radius: 8px;
}

.maintext {
    width: 55vw;
    max-width: 930px;
    margin: auto;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 20px 32px;
    margin-bottom: 80px;
    position: relative;
}

.maintext::before {
    content: '';
    position: absolute;
    top: -85px;
    left: 10vw;
    background: url('./media/fin.png') no-repeat;
    width: 85px;
    height: 85px;
}

p {
    margin: 10px 0;
}

h1 {
    margin: 16px 0 28px 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
}

/* this is not used in this version */
.emoji {
    font-size: 1.6em;
    vertical-align: -5px;
    margin-left: 5px;
}

/* cookie banner */
.cookieconsent {
    position: fixed;
    padding: 20px;
    left: 15px;
    bottom: 15px;
    background-color:#f5f5f5;
    font-size: .8em;
    color:#272c31;
    text-align: center;
    width: 17vw;
    z-index: 10 ;
}

.cookieconsent a {
    font-size: 1em;
    font-weight: 600;
    color: #e47171;
}

.cookieconsent a:hover {
    color: #c26161;
}

/* temporary fix for emoji */
.blogpost div span {
    font-size: 1.6em;
    vertical-align: -5px;
    margin-left: 5px;
}

.blogpost,
.post {
    width: 55vw;
    max-width: 930px;
    margin: auto;
    background: var(--bg);
    border-radius: 8px;
    padding: 25px 25px;
    margin-bottom: 85px;
    position: relative;
}

.blogpost::before {
    content: '';
    position: absolute;
    top: -35px;
    left: 4.5vw;
    background: url('./media/paperclip.png') no-repeat;
    background-size: 60%;
    width: 85px;
    height: 85px;
}

.blogpost a {
    font-size: 1em;
    color: var(--highlight);
}

/* this won't be neede later */
.post a {
    font-size: 1em;
    color: var(--highlight);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 1.35rem;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;
}

h3 {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
}

.date {
    color: var(--textgrey);
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
    font-size: .9rem;
    border-bottom: #bdbdbd 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

@media all and (max-width: 850px) {

    .navbar {
        width: 90vw;
    }

    .post,
    .blogpost,
    .maintext {
        width: 90vw;
    }

    h2 {
        width: 80vw;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 80px;
    }

    .cookieconsent {
        position: inherit;
        padding: 20px;
        margin: auto;
        bottom: 15px;
        color:#272c31;
        text-align: center;
        width: 90vw;
    }

}