* {
    box-sizing: border-box;
    color: #42474e;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: .5px;
    line-height: 1.6;
    font-size: 1.1rem;
}

body {
    background: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    width: 55vw;
    margin: auto;
}

.menu {
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
}

a:hover {
    color: #eb5252;
}

.inline {
    font-size: 1em;
    color: #eb5252;
}

.hero {
    background: url(./components/me.png) no-repeat, #ffffff;
    background-position: center;
    background-size: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10px;
    min-height: 60vh;
    border-radius: 8px;
}

.maintext {
    width: 60vw;
    margin: auto;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 20px 25px;
    margin-bottom: 80px;
}

h1 {
    margin: 16px 0;
    font-size: 1.6em;
    text-align: center;
}

.title {
    font-size: 1.1em;
    font-weight: 500;
}

.emoji {
    font-size: 1.8em;
}